html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

table {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

tr {
    display: flex;
    flex-wrap: wrap;
}

td {
    flex: calc(100% / 3);
    padding-bottom: 20px;
}

.text-center {
    text-align: center;
}

.login-info {
    text-align: right;
}